@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Sintony:wght@400;700&display=swap');

/*----------------------------------------------------------General Structure & Commmon Components*/
* {
	margin: 0px;
    padding: 0px;
    box-sizing: content-box; 
}

body {
	font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Sintony, sans-serif;
    font-weight: 700;
}

/*----------------------------------------------------------NavBar*/

.fixed-top {
	position: fixed;
}

.bg-dark {
    background-color: black!important;
}
.navbar-brand {
    font-size: 40px;
    font-weight: 400;
	font-family: 'Sintony', sans-serif;
}

.navbar-toggler {
	padding-right: 25px;
	border: none;
	font-size: 20px;
}

.navbar-nav {
	font-size: 20px;
    font-weight: 400;
    font-family: 'Sintony', sans-serif;
}

a.nav-link.hvr-underline-from-center::before {
	background-color: yellow;
	height: 1px;
}

/*----------------------------------------------------------LANDING PAGE*/

.hero-img {
    background: rgba(0,0,0,0.5) url(images/hero_image.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    background-blend-mode: overlay;
}
/* The above class rule was learned from Learn Design channel tutorial on YouTube*/
