@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Sintony:wght@400;700&display=swap');

/*----------------------------------------------------------General Structure & Commmon Components*/
* {
	margin: 0px;
	padding: 0px;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    position: relative;
    
}

h1, h2{
    font-family: 'Sintony', sans-serif;
    font-weight: 700;
}

h3 {
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    margin-top: 2rem;
    margin-bottom: 2rem;
}   

h3, h4, h5, h6 {
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
}

.hr-med {
	width: 50%;
	border-top: 1px solid #fafafa;
	border-radius: 5%;
	margin-top: 1.875rem;
	margin-bottom: 1.875rem;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
}

.toggle {
    display: none;
}
/*----------------------------------------------------------NavBar*/

.bg-dark {
    background-color: black!important;
}
.navbar-brand {
    font-size: 40px;
    font-weight: 400;
	font-family: 'Sintony', sans-serif;
}

.navbar-brand:hover {
    color: #F2E205!important;
}

.navbar-toggler {
	padding-right: 25px;
	border: none;
	font-size: 20px;
}

.navbar-nav {
	font-size: 20px;
    font-weight: 400;
    font-family: 'Sintony', sans-serif;
}

a.nav-link.hvr-underline-from-center::before {
	background-color: #F2E205;
	height: 1px;
}

/*----------------------------------------------------------FOOTER*/

.footer {
    text-align: center;
    color: white;
    background-color: black;
    text-transform: uppercase;
    font-size: x-small;
    min-height: 100px;
}

/*----------------------------------------------------------HOME PAGE*/

.hero-img {
    background: rgba(0,0,0,0.2)url(images/hero_image.jpg) no-repeat;
    background-position: center;
    min-height: 80vh;
    overflow: hidden;
    background-blend-mode: overlay;
    align-items: center;
    position: relative;
    justify-content: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* Some of the above class rule was learned from Learn Design channel tutorial on YouTube & customized*/

/*--------------------------HOME PAGE: INTRO TEXT */
.intro {
    max-width: 55%;
    padding: 200px 80px 0;
    color: white;
    bottom: 100px;
    right: 120px;
    position: absolute;
    padding: 10px;
}

.intro h1 {
    z-index: 1;
    padding: 10px;
}

.intro p {
    padding: 10px;
    font-weight: 300;
    z-index: 1;
}

/*The below media queries will make the intro text responsive to varied screen sizes*/

@media only screen and (max-width: 600px){
    .intro {
    max-width: 50%;
    padding: 200px 80px 0;
    color: white;
    bottom: 80px;
    right: 35px;
    position: absolute;
    padding: 10px;
}
}

@media only screen and (min-width: 601px) {
    .intro {
    max-width: 50%;
    padding: 200px 80px 0;
    color: white;
    bottom: 200px;
    right: 35px;
    position: absolute;
    padding: 10px;
}
.intro h1 {
    font-size: 80px;
    z-index: 1;
    padding: 10px;
}

.intro p {
    font-size: 20px;
    padding: 10px;
    font-weight: 300;
    z-index: 1;
    font-size: 35px;
}
}

@media only screen and (min-width: 992px) {
    .intro {
    max-width: 50%;
    padding: 200px 80px 0;
    color: white;
    bottom: 200px;
    right: 35px;
    position: absolute;
    padding: 10px;
}

.intro h1 {
    font-size: 80px;
    z-index: 1;
    padding: 10px;
}

.intro p {
    font-size: 20px;
    padding: 10px;
    font-weight: 300;
    z-index: 1;
    font-size: 35px;
}
}

/*-------------------------- HOME PAGE : ICONS */

#icons-container {
    width: 100%;
    height: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    display: block;
}

.icon-grid {
    text-align: center;
    display: block;
    color: white;
}

.icon {
    border-radius: 50%;
    background-color:black;
    color: white;
    text-align: center;
}

.icon-text{
    margin-top: 10px;
}

/*----------------------------------------------------------PRODUCTS PAGE*/

/*-------------------------- PRODUCTS PAGE : SEARCH BAR*/
/* Code was learnt from code doctor on youtube but customized and adusted*/

#search-container{
    background-color: black;
    position: relative;
    width: 100%;
}
.search-container{
    background-color: black;
    color: white;
    font-size: 30px;
    width: 100%;
    margin-top: 20px;
    z-index: 1;
}

.search-button-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    right: 0%;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    background-image: url(images/search-icon.png);
    background-color:transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
}

.search-button-icon:hover {
    width: 50px;
    height: 50px;
}

.search-button-icon:focus {
    border: none;
    outline: none;
}

.search-bar {
    width: calc(100% - 150px);
    padding: 10px;
    color: white;
    font-size: 1rem;
    background-color: transparent;
    border:none;
    border-bottom: 2px solid white;
    z-index: 0;
}

.search-bar:focus {
    outline: none;
}

.search-bar-button {
    padding: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    z-index: 0;
    border-radius: 25px;
}

.search-bar-button:hover {
    color: #F2E205;
    font-size: 2rem;
}

.search-bar-button:focus {
    border: none;
    outline: none;
    background-color: white;
    color: black;
}
/*-------------------------- PRODUCTS PAGE : CATALOGUE*/

#catalogue {
    background-color: black;
    position: relative;
    width: 100%;
    margin-top: 0;
    padding: 30px 0;
}

.card {
    margin: 1.5rem 1rem;
}

.card-body a {
    color: black;
    margin-top: auto;
    font-size: 1rem;
}

.card-body a:hover {
    font-size: 1.2rem;
}

/*----------------------------------------------------------CONTACT PAGE*/

/*-------------------------- CONTACT PAGE : FORM*/

#contact-us {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0px 0px;
    padding: 50px;
}

#contact-form {
    font-family: 'Montserrat', sans-serif;
}

.form-control:hover {
	border: solid #F2E205 3px;
}


.contact-form-btn {
    padding: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    z-index: 0;
    border-radius: 25px;
}

.contact-form-btn:hover {
    color: #F2E205;
    background-color: transparent;
    border: none;
}

.contact-form-btn:focus {
    border: none;
    outline: none;
    background-color: white;
    color: black;
}

/*-------------------------- CONTACT PAGE : LOCATION DETAILS & OPENING HOURS */

#location-details{
    background-color: black;
    color: white;
    text-align: center;
    margin: 0px 0px;
    padding: 50px;
}

.location-details-inner {
    padding-left: 50px;
    padding-right: 50px;
}

.hours-spacing{
    padding-top: 20px;
}

.opening-hours {
	text-align: center;
	color: white;
    padding-top: 5px;
    padding-bottom: 1px;
}

#map {
    min-height: 400px;
    background-color: white;
    border-radius: 5px;
}