@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Sintony:wght@400;700&display=swap');

/*----------------------------------------------------------General Structure & Commmon Components*/
* {
	margin: 0px;
	padding: 0px;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    position: relative;
    background-color: black;
}

h1, h2{
    font-family: 'Sintony', sans-serif;
    font-weight: 700;
}

h3 {
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    margin-top: 2rem;
    margin-bottom: 2rem;
}   

h4, h5, h6 {
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
}

.hr-med {
	width: 50%;
	border-top: 1px solid #fafafa;
	border-radius: 5%;
	margin-top: 1.875rem;
	margin-bottom: 1.875rem;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
}

.alert-container {
    margin-top:400px;
    background-color: #A69B03;
    color: black;
}

.alert-text {
    text-transform: capitalize;
    padding-top: 20px;
}

.general-hero-img {
    background: rgba(0,0,0,0.2)url(images/hero.jpg) no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 50vh;
    overflow: hidden;
    background-blend-mode: overlay;
    align-items: center;
    position: relative;
    justify-content: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media only screen and (min-width: 992px) {
    .general-hero-img {
    background: rgba(0,0,0,0.2)url(images/hero.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 30vh;
    overflow: hidden;
    background-blend-mode: overlay;
    align-items: center;
    position: relative;
    justify-content: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
}

/*----------------------------------------------------------NavBar*/

.bg-dark {
    background-color: black!important;
}
.navbar-brand {
    font-size: 40px;
    font-weight: 400;
	font-family: 'Sintony', sans-serif;
}

.navbar-brand:hover {
    color: #F2E205!important;
}

.navbar-toggler {
	padding-right: 25px;
	border: none;
	font-size: 20px;
}

.navbar-nav {
	font-size: 20px;
    font-weight: 400;
    font-family: 'Sintony', sans-serif;
}

a.nav-link.hvr-underline-from-center::before {
	background-color: #F2E205;
	height: 1px;
}

/*----------------------------------------------------------FOOTER*/

.footer {
    text-align: center;
    background-color: black;
    min-height: 50px;
}

.footer-text {
    padding: 20px 20px;
    text-transform: uppercase;
    font-size: x-small;
    color: white;
    margin: 0px;
}

/*----------------------------------------------------------HOME PAGE*/

.hero-img {
    background: rgba(0,0,0,0.2)url(images/hero.jpg) no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 80vh;
    overflow: hidden;
    background-blend-mode: overlay;
    align-items: center;
    position: relative;
    justify-content: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 0;
}
/* Some of the above class rule was learned from Learn Design channel tutorial on YouTube & customized*/

/*--------------------------HOME PAGE: INTRO TEXT */
.intro {
    max-width: 55%;
    padding: 200px 80px 0;
    color: white;
    bottom: 100px;
    right: 120px;
    position: absolute;
    padding: 10px;
}

.intro h1 {
    z-index: 1;
    padding: 10px;
}

.intro p {
    padding: 10px;
    font-weight: 300;
    z-index: 1;
}

/*The below media queries will make the intro text responsive to varied screen sizes*/

@media only screen and (max-width: 600px){
    .intro {
    max-width: 50%;
    padding: 200px 80px 0;
    color: white;
    bottom: 80px;
    right: 100px;
    position: absolute;
    padding: 10px;
}
}

@media only screen and (min-width: 601px) {
    .intro {
    max-width: 50%;
    padding: 200px 80px 0;
    color: white;
    bottom: 200px;
    right: 35px;
    position: absolute;
    padding: 10px;
}
.intro h1 {
    font-size: 80px;
    z-index: 1;
    padding: 10px;
}

.intro p {
    font-size: 20px;
    padding: 10px;
    font-weight: 300;
    z-index: 1;
    font-size: 35px;
}
}

@media only screen and (min-width: 992px) {
    .intro {
    max-width: 50%;
    padding: 200px 80px 0;
    color: white;
    bottom: 200px;
    right: 35px;
    position: absolute;
    padding: 10px;
}

.intro h1 {
    font-size: 80px;
    z-index: 1;
    padding: 10px;
}

.intro p {
    font-size: 20px;
    padding: 10px;
    font-weight: 300;
    z-index: 1;
    font-size: 35px;
}
}

/*-------------------------- HOME PAGE : ICONS */

#icons-container {
    width: 100%;
    height: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    display: block;
}

.icon-grid {
    text-align: center;
    display: block;
    color: white;
}

.icon-text{
    margin-top: 10px;
}

#toggle-local {
    display: none;
}

#toggle-del {
    display: none;
}

#toggle-orders {
    display: none;
}

#toggle-quality {
    display: none;
}

.icon:hover {
    color: #F2E205;
}


/*----------------------------------------------------------PRODUCTS PAGE*/

/*-------------------------- PRODUCTS PAGE : SEARCH BAR*/
/* Search bar Code was learnt from code doctor on youtube but customized and adusted*/

#search-container {
    background-color: black;
    position: relative;
    width: 100%;
    padding-top: 40px;
}
.search-container{
    background-color: black;
    color: white;
    width: 100%;
    margin-top: 10px;
    z-index: 1;
}

.search-container-text:hover {
    color: #F2E205;
}

#search-menu {
    display: none;
}

.filter-btn {
    font-style: italic;
    padding: 6px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background-color: white;
    font-weight: bold;
}


.filter-btn:hover {
    background-color: #F2E205;
    color: black;
}

.option {
    font-style: italic;
    padding: 6px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background-color: white;
    font-weight: bold;
}

.option:hover {
    background-color: #F2E205;
    color: black;
}

.option.active {
    background-color: #F2E205;
    color: black;
}

/*-------------------------- PRODUCTS PAGE : CATALOGUE*/

#catalogue {
    background-color: black;
    position: relative;
    width: 100%;
    margin-top: 0;
    padding: 30px 0;
}

.catalogue {
    display: none;
}

.card {
    margin: 1rem 1rem;
}

.card-body a {
    color: black;
    margin-top: auto;
    font-size: 1rem;
}

.card-body a:hover {
    font-size: 1.2rem;
}

.result {
    display: block;
}
/*----------------------------------------------------------CONTACT PAGE*/

/*-------------------------- LOCATION DETAILS & OPENING HOURS */

#location-details{
    background-color: black;
    color: white;
    text-align: center;
    margin: 0px 0px;
    padding: 40px;
}

@media only screen and (min-width: 1400px){
    .location-details-inner {
    padding-left: 300px;
    padding-right: 50px;
}
}


.hours-spacing{
    padding-top: 50px;
}

.opening-hours {
	text-align: center;
	color: white;
    padding-top: 5px;
    padding-bottom: 1px;
}

#map {
    min-height: 350px;
    background-color: white;
    border-radius: 5px;
}

/*----------------------------------------------------------FORMS*/

/*-------------------------- FORM : GENERAL */

.form {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}
.form-gen {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0px 0px;
    padding: 40px;
    font-family: 'Montserrat', sans-serif;
}

.form-control:hover {
	border: solid #F2E205 3px;
}

/*-------------------------- FORM : CONTACT FORM */

#contact-form{
    padding-top: 40px;
    background: rgba(0,0,0,0.2)url(images/hero.jpg) no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 40vh;
    overflow: hidden;
    background-blend-mode: overlay;
    align-items: center;
    position: relative;
    justify-content: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.send-form-btn {
    padding: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    background-color: transparent;
    font-weight: bold;
    border: none;
    z-index: 0;
    border-radius: 25px;
}

.send-form-btn:hover {
    color: #F2E205;
    background-color: transparent;
    border: none;
}

.send-form-btn:focus {
    border: none;
    outline: none;
    background-color: white;
    color: black;
}

/*-------------------------- FORM : ORDER FORM */

#order-form{
    padding-top: 40px;
    background: rgba(0,0,0,0.2)url(images/hero.jpg) no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 40vh;
    overflow: hidden;
    background-blend-mode: overlay;
    align-items: center;
    position: relative;
    justify-content: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.order-form-btn {
    padding: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    z-index: 0;
    border-radius: 25px;
}

.order-form-btn:hover {
    color: #F2E205;
    background-color: black;
    border: none;
}

.order-form-btn:focus {
    border: none;
    outline: none;
    background-color: white;
    color: black;
}

@media only screen and (max-width: 600px) {
    .order-form-btn {
    padding: 5px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    z-index: 0;
    border-radius: 25px;
}

.order-form-btn:hover {
    color: #F2E205;
    background-color: black;
    border: none;
}

.order-form-btn:focus {
    border: none;
    outline: none;
    background-color: white;
    color: black;
}
}

.order-form-text {
    font-weight: bold;
    margin-right: 20px;
    font-size: 1.5rem;
}

.inline-form {
width: 20%;
display: inline-block;
margin-right:20px; 
}

@media only screen and (max-width: 800px){
    .inline-form {
    width: 50%;
    display: inline-block;
    margin-right:20px;
}
}

/*-------------------------- FORM : MODALS */

.modal-title {
    text-transform: uppercase!important;
}

.modal-body{
    font-weight: bold;
}